img{
	float: left;
}
.right-well{
	margin-left: 940px;
	font-family: Poppins;
}
a{
	text-decoration: none;
}
.fa-facebook {  
  background: #3B5998;  
  color: white;  
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px; 
  margin: 20px;
    margin-left: 105px;
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
   width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  margin: 20px;
}  
.fa-apple{
	background: #000;
	color: white;
	 width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
}
.Line1{
position: absolute;
left: 69.7%;
right: 0%;
top: 65.88%;
bottom: 0%;
width: 370px;
height: 2px;
background: #FF432A;
}
.Line2{
position: absolute;
left: 69.7%;
right: 0%;
top: 82.88%;
bottom: 0%;
width: 370px;
height: 2px;
background: #000;
}
.main{
	margin-left: 20px;
	margin-top: 60px;
	width: 320px;
	height: 53px;
	z-index: 3;
}
	.btn-danger{
		background: rgb(255,64,1);
				border: rgb(255,64,1);

	}
.bg1{
	position: absolute;
	right: 356px;
	top: 611.5px;
	width: 53px;
	height: 53px;
	z-index: 1;
	border-radius: 50%;
	background: ;
}
.bg2{
	position: absolute;
	right: 45px;
	top: 611.5px;
	width: 53px;
	height: 53px;
	z-index: 1;
	border-radius: 50%;
}
/*873 width of img*/

@media (max-width: 375px) {
	img{
		display: none;
			}
	.right-well{
		margin-left: 28.48px;
	}
	.Line1{
		position: absolute;
		top: 400px;
		left: 28.48px;
		width: 319.04px;
	}
	.Line2{
		position: absolute;
		top: 510px;
		left: 28.48px;
		width: 319.04px;
	}
	.fa-eye-slash{
		position: absolute;
		top: 470px;
		right: 30px;
	}
	.small__for{
		position: absolute;
		top: 533px;
		right: 28.48px;
	}
	.main{
		width: 290px;
		margin-left: 14.24px;
	}
	.bg1{
		position: absolute;
		left: 28.48px;
		top: 612px;
	}
	.bg2{
		position: absolute;
		right: 14.24px;
		top: 612px;
	}
	.footer{
		margin-left: -28.48px;
		/*padding-left: -228.48px;*/
	}
/*		.btn-danger{
		background: rgb(255,64,1);
		border: rgb(255,64,1);
	}*/
}
